$nav-bg-color: red;
$nav-fg-color: yellow;
$nav-logo-bg-color: black;
$nav-text-color: white;

$page-header-text-color: orange;
$page-text-color: darkred;

$card-text-color: white;
$card-bg-color: red;
$card-hover-bg-color: darkred;
$card-hover-text-color: yellow;

$app-text-color: red;
$app-button-text-color: yellow;
$app-button-bg-color: red;

$text-other-color: black;