.index {
    display: grid;
    grid-template: 
        "image name" 256px
        "shdescription shdescription" min-content
        "download download" 1rem  
        "screenshots screenshots" min-content
        "description description" min-content 
        "support null" min-content/ 256px auto;
    column-gap: 2rem;
    row-gap: 4rem;
    padding: 2rem;
    align-items: center;
}

#name h1, h2, p {
    text-align: left;
    font-family: "Snowstorm";
    font-size: 3rem;
    color: var(--page-header-text-color);
}

#name h2 {
    font-size: 1.5rem;
}

#name p {
    font-size: 1.25rem;
}

#icon img {
    width: 256px;
}

#short_description p {
    font-family: "Snowstorm";
    font-size: 1.75rem;
    color: var(--page-header-text-color);
}

.description {
    margin-block: 2rem;
    overflow-y: auto;
    overflow-x: hidden;
}

#description p {
    max-height: 512px;
    font-family: "Snowstorm";
    font-size: 1.25rem;
    color: var(--page-header-text-color);
}

#download button {
    width: min(100% - 2rem, 300px);
    height: 4rem;
    font-size: 2rem;
    font-family: "Snowstorm";
    color: var(--card-text-color);
    background-color: var(--card-main-bg-color);
}

#support p {
    font-size: 1.25rem;
}

/* SCREENSHOTS */

#screenshots img {
    width: 256px;
}
.swiper {
    width: 100%;
    height: min(100% + 4rem, 512px);
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ## AREAS ## */

#name {
    grid-area: name;
    margin-block: auto;
}

#icon {
    grid-area: image;
}
#short_description {
    grid-area: shdescription;
}
#description {
    grid-area: description;
}

#screenshots {
    grid-area: screenshots;
}

#download {
    grid-area: download;
}

#support {
    margin-top: -4rem;
    grid-area: support;
}
/* ## MOBILE ## */


@media screen and (max-width: 600px) {
    .index {
        margin-top: -5rem;
        grid-template-columns: 128px auto;
    }
    #icon img {
        width: 128px;
    }
    #name h1 {
        font-size: 1.5rem;
    }
    #name h2 {
        font-size: 1rem;
    }
    #name p {
        font-size: 1rem;
    }
    #short_description {
        margin-top: -5rem;
    }

}

/* ## probably this needs a "rewrite" ## */