.card {
    align-items: center;
    justify-content: space-evenly;
}
.card img {
    width: 100px;
}

@media screen and (max-width: 600px) {
    .card {
        flex-direction: row;
        justify-content: space-between;
    }
    .card h3 {
        margin-block: auto;
        grid-area: name;
    }
    .card img {
        grid-area: image;
    }
    .card a {
        grid-area: link;
    }
}