.index {
    display: grid;
}

.github {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.badges {
    display: flex;
    flex-direction: column;
    grid-row: 1;
    grid-column: 2;
    align-items: center;
    margin-top: 4rem;
}

img:where(.badges, .github, :not(.ghlogo)) {margin: 0.5rem;}

.description {
    display: block;
    text-align: center;
    margin-top: .75rem;
    font-size: 1.5rem;
    font-family: "Snowstorm";
    color: var(--card-main-bg-color);
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;

}

/* #### FOR MOBILE #### */

@media screen and (max-width: 600px) {
    .badges {
        grid-row: 3;
        grid-column: 1;
        margin-top: 2rem;

    }

    .description {
        grid-column: 1;
        grid-row: 2;
    }
}
