{% extends 'base.html' %}

{% block header %}
  <h1 style="display: none;">{% block title %}{{title}}{% endblock %}</h1>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/application.css') }}"/>
  <noscript><p>JavaScript is necessary for download to work</p></noscript>

  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

{% endblock %}

{% block content %}
<script>

  var url = "{{ j['app']['release']['install_path'] }}";
  url = url.split('#').pop().split('?').pop();
  var page = url.substring(url.lastIndexOf('/') + 1);
  var name = encodeURIComponent("{{j['app'].get('title')}}")
  function dwnl() {
    const link = document.createElement('a');
                    link.href = "/download?url=" + page + "&name=" + name + ".apk";
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
 };
</script>

<div id="icon">
  <img src="{{ image }}"/>
</div>

<div id="name">
  <h1>{{ title }}</h1>
  <h2>{{ j['app']['developer'].get('title') }}</h2>
  <p>{{ j['app']['release'].get('version_name') }}</p>
</div>

<div id="short_description">
  <p>{{description}}</p>
  <p>
    <span>{{ j['app']['info'].get('size') }} |</span>
    <span>{{ j['app']['info'].get('rating') }}⭐ |</span>
    <span> от {{ j['app']['info'].get('age_restriction') }}</span>
  </p>
</div>

<div class="swiper" id="screenshots">

  <div class="swiper-wrapper">
  
    {% for i in s %}
    <div class="swiper-slide"><img src="{{ i['path'] }}/original" class="swiper-lazy" /></div>
    {% endfor %}
  
  </div>
  
  <div class="swiper-pagination"></div>
  
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
      
</div>

<div id="download">
  <button onclick="dwnl()">Получить </a>
</div>

<div id="description" class="description">
  <p> Описание: {{ j['app'].get('description') }}</p>
</div>

<div id="support">

  <p> сайт: <a href="{{ j['app']['support'].get('website') }}">{{ j['app']['support'].get('website') }}</a></p>
  <p> приватность: <a href="{{ j['app']['support'].get('privacy') }}">{{ j['app']['support'].get('privacy') }}</a></p>
  
</div>

<script>
const swiper = new Swiper('.swiper', {
  slidesPerView: 1,
  loop: true,
  effect: 'coverflow',
  coverflowEffect: {
    rotate: 15,
    slideShadows: false,
    scale: 0.9,
  },

  pagination: {
    el: '.swiper-pagination',
  },

  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  breakpoints: {
    480: {
      slidesPerView: 3,
    },
    780: {
      slidesPerView: 5,
    },
  },

});
</script>

{% endblock %}
