<!doctype html>

<head>
<!-- ### TITLE ### -->

<title>{% block title %}{% endblock %} - OurStore</title>

<!-- ### GENERAL CSS ### -->

<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">

<!-- ### PAGE CSS ### -->

{% block css %}
{% endblock %}

<!-- ### WIEVPORT + FAVICON ### -->

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<!-- ### NAVIGATION ### -->
<nav>
  <a href="/" style="text-decoration: none;" class="logo">OurStore</a>
  <div class="menu">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
</nav>
<div class="links">
  <a href="/">главная</a>
  <a href="{{ url_for('applications') }}">приложения</a>
  <a href="{{ url_for('games') }}">игры</a>
</div>
<script>
const togglebutton = document.getElementsByClassName("menu")[0]
const links = document.getElementsByClassName("links")[0]
togglebutton.addEventListener('click', () => {
  links.classList.toggle('active')
  togglebutton.classList.toggle("change");
})
</script>
<!-- ### PAGE CONTENT ### -->
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>
</body>