<!doctype html>
<html lang="ru">
<head>
<!-- ### TITLE ### -->

<title>{% block title %}{% endblock %} - OurStore </title>
<meta name="title" content="{{title}} - OurStore" />
<meta name="description" content="{{description}}" />

<!-- ### SITE PREVIEW ### -->

<!-- ### OpenGraph ### -->
<meta property="og:type" content="website" />
<meta property="og:site_name" content="OurStore" />
<meta property="og:title" content="{{title}} - OurStore" />
<meta property="og:description" content="{{description}}" />
<meta property="og:url" content="https://ourstoree.herokuapp.com/{{ page }}" />
<meta property="og:locale" content="ru_RU">
<meta property="og:image" content="{{image}}" />

<!-- ### twitter ### -->
<meta name="twitter:card" content="summary" />

<!-- ### GENERAL CSS ### -->

<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}" />

<!-- ### PAGE CSS ### -->

{% block css %}
{% endblock %}

<!-- ### OTHER ### -->

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>
<!-- ### NAVIGATION ### -->
<nav>
  <a href="/" style="text-decoration: none;" class="logo">OurStore</a>
  <div class="menu">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
  <div class="menu_items">
    <a href="/">главная</a>
    <a href="{{ url_for('applications') }}">приложения</a>
    <a href="{{ url_for('games') }}">игры</a>
  </div>
</nav>
<script>
const togglebutton = document.getElementsByClassName("menu")[0]
const links = document.getElementsByClassName("menu_items")[0]
togglebutton.addEventListener('click', () => {
  links.classList.toggle('active')
  togglebutton.classList.toggle("change");
})
</script>
<!-- ### PAGE CONTENT ### -->
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  <div class="index">
    {% block content %}{% endblock %}
  </div>
</section>
</body>
</html>