{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{title}}{% endblock %}</h1>
{% endblock %}

{% block content %}
<index>
<div class="github">
  <img loading="lazy" alt="" src="/static/GitHub-Mark-120px-plus.png" class="ghlogo">
  <img loading="lazy" alt="GitHub last commit" src="https://img.shields.io/github/last-commit/radiquum/ourstore?style=for-the-badge">
  <img loading="lazy" alt="GitHub deploy workflow" src="https://img.shields.io/github/workflow/status/radiquum/ourstore/Deploy?label=Deploy&style=for-the-badge">
  <a href="https://www.codefactor.io/repository/github/radiquum/ourstore"><img loading="lazy" alt="CodeFactor grade" src="https://img.shields.io/codefactor/grade/github/radiquum/ourstore?style=for-the-badge"></a>
  <img loading="lazy" alt="license: GPL-3.0" src="https://img.shields.io/github/license/radiquum/ourstore?style=for-the-badge">
  <a href="https://github.com/radiquum/ourstore"><img loading="lazy" alt="GitHub repository" src="https://img.shields.io/badge/Repo-OurStore-cyan?style=for-the-badge&logo=github"></a>
  <a href="https://paws.cf"><img loading="lazy" alt="Made by Radiquum" src="https://img.shields.io/badge/Made%20by%20Radiquum-paws.cf-pink?style=for-the-badge"></a>
</div>
<div class="badges">
  <img loading="lazy" src="https://forthebadge.com/images/badges/uses-html.svg">
  <img loading="lazy" src="https://forthebadge.com/images/badges/uses-css.svg">
  <img loading="lazy" src="https://forthebadge.com/images/badges/uses-badges.svg">
  <img loading="lazy" src="https://forthebadge.com/images/badges/made-with-python.svg">
  <img loading="lazy" src="https://forthebadge.com/images/badges/powered-by-black-magic.svg">
  <img loading="lazy" src="https://forthebadge.com/images/badges/you-didnt-ask-for-this.svg">
</div>
<div class="description">
  <p>{{description}}</p>
</div>
</index>
{% endblock %}